@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="alert alert-danger">
    Bu sayfaya giris yetkiniz yoktur.
</div>
<a href="/Admin/Home/Index">Anassayfa don</a>